*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkslategray;
}

.container{
    width: 400px;
    height: min-content;
    background-color: white;
    border-radius: 12px;
    padding: 28px;
}

.search{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color: rgb(214, 212, 212);
    padding: 12px 16px;
    border-radius: 14px;
}

.search input::placeholder{
    color: black;

}

.search button{
    width: 46px;
    height: 46px;
    background-color: rgb(214, 212, 212); 
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search button:hover{
    color: white;
    background-color: rgb(153, 152, 152);
}
.weatherbody img{
    width: 60%;
}

.weatherbody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weatherbox{
    margin: 20px;
    text-align: center;

}
.weatherbox .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weatherbox .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weatherbox .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

}

.weatherdetails{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px;

}
.humidity, .wind{
    display: flex;
    align-items: center;

}

.humidity{
    margin-left: 20px;

}

.wind{
    margin-right: 20px;
}
.weatherdetails i{
    font-size: 36px;
}
.weatherdetails .text{
    margin-left: 10px;
    font-size: 16px;

}

.text span{
    font-size: 20px;
    font-weight: 700;
}

